html {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /*font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;*/
}

#forecast > div {
  width: 16rem;
}

.container {
  max-width: 1200px;
}

.forecast-day img {
  width: 40%;
  margin-bottom: -12px;
}

.forecast-day h3 {
  font-weight: 700;
  font-size: 108%;
  color: wheat;
}

@media only screen and (max-width: 560px) {
  #forecast {
    gap: 1rem;
  }

  .space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: none;
  }

  .search-bar {
    width: 8rem;
  }

  .input input {
    width: 2rem;
  }
}
